[submodule "arceos"]
	path = arceos
	url = https://github.com/starry-mix-rk3588/arceos
	branch = ajax
[submodule "module-local/axcpu"]
	path = module-local/axcpu
	url = https://github.com/starry-mix-rk3588/axcpu
	branch = ajax
